@font-face {
  font-family: 'JSongMyung-Regular-KO';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2110@1.0/JSongMyung-Regular-KO.woff2')
    format('woff2');
  font-weight: normal;
  font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* 전체 태그에 적용 */
* {
  box-sizing: border-box;
}

body {
  font-family: 'JSongMyung-Regular-KO', cursive;
  /* font-family: 'Roboto', sans-serif; */
  display: flex; /* 하위 태그들을 정렬 */
  justify-content: center; /* 가로 방향 정렬 */
  align-items: center; /* 세로 방향 정렬 */
  height: 100vh; /* vh는 화면의 */
  overflow: hidden;
  margin: 0;
}

.container {
  display: flex;
  width: 90vw; /* 화면의 90%너 너비 */
}

.panel {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 80vh;
  border-radius: 50px;
  color: white;
  cursor: pointer;
  flex: 0.5; /* 플렉스 비율 */
  margin: 10px;
  position: relative; /* 포지션 기준 */
  /* 트랜지션 모든 변화에 시간 0.7s */
  transition: all 0.7s ease-in;
}

.panel h3 {
  font-size: 24px;
  position: absolute;
  bottom: 20px;
  left: 20px;
  margin: 0;
  opacity: 0; /* 투명도 0(안보임) ~ 1 */
}

/* 패널클래스와 액티브클래스가 동시에 */
.panel.active {
  flex: 5;
}

.panel.active h3 {
  opacity: 1;
  transition: opacity 0.3s ease-in;
}

/* 미디어쿼리 사용 화면이 480이하 적용 */
@media (max-width: 480px) {
  .container {
    width: 100vw; /* 화면 너비의 100% */
  }

  .panel:nth-of-type(4),
  .panel:nth-of-type(5) {
    display: none; /* 4, 5번째 안보이게 */
  }
}
